html {
	box-sizing: border-box;
	}
*, *:before, *:after {
	box-sizing: inherit;
}

#canvasPage header {
	margin-bottom: 3em;
	}
#canvasPage h1 {
	float: none;
	display: block;
}
canvas  {
	border: 1px solid black;
}

  
 #canvasPage button {
 	/*display: inline-block;*/
 	float: left;
 	 
 }
 #canvasPage form {
 	 
 }
#animwriter {
	float: left;
	margin-top: 8em;
margin-left: 1em;

 
width: 800px;
}
#right{
	width: 400px;
	float: left;
	 
	 margin-top: 8em;
	 margin-right: 7em;
	 margin-left:1em;
	border: 1px solid red;
}

.enable {
	visibility: visible;
}
.disable {
	visibility: hidden;
}
 
form {
	position: relative;
 }
