html {
	box-sizing: border-box;
	}
*, *:before, *:after {
	box-sizing: inherit;
}

#canvasPage header {
	margin-bottom: 2em;
	}
#canvasPage h1 {
	float: none;
	display: block;
}
canvas  {
	border: 1px solid black;
	background: aliceblue;
	border: 10px solid black;
	border-radius: 10px;
}
#canvasPage {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a1a1a1+0,a1a1a1+100&1+0,0+100 */
background: -moz-linear-gradient(top,  rgba(161,161,161,1) 0%, rgba(161,161,161,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(161,161,161,1) 0%,rgba(161,161,161,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(161,161,161,1) 0%,rgba(161,161,161,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a1a1a1', endColorstr='#00a1a1a1',GradientType=0 ); /* IE6-9 */

}
  
 #canvasPage button {
 	/*display: inline-block;*/
 	float: left;
 	 
 }
 #canvasPage form {
 	 
 }
#animwriter {
	float: left;
	margin-top: 6em;
margin-left: 10em;


 
width: 800px;
}
#animwriter header, #canvasPage #instructions {
	border: 1px solid black;
position: relative;
background: linen;
padding-top: .5em;
color: black;
border-radius: 10px;
display: block;
height: 5em;
}
#canvasPage #instructions {
	padding:.5em 2em .5em 2em;
	margin-top: 0;
 
}
#right{
	width: 400px;
	display: none;
	 
	 margin-top: 5em;
	 
	 right:0;
	border: 10px solid red;
	position: absolute;
	padding: .75em 0 0 1.5em;
	background: antiquewhite;
	color: black;
	font-size: 1em;
	text-align: left;
	font-weight: bolder;
	height: 25em;

}
header label {
	padding-top: 1em;
}
.enable {
	visibility: visible;
}
.disable {
	visibility: hidden;
}
 
#canvasmaincontent form {
	position: relative;
 }
#emailrecipient, #emailsubject {
 	margin-bottom: 1em;

 }
 form#email {
	 margin-top: 0em;
	padding-top: 0;
 }
 label#namerequest {
 	display: inline-block;
 }
 #yourname {
 	display:inline-block;
 }
 a#emailsend{
 	text-decoration:none;
 	border: 1px solid black;
 	border-radius: 15px;
 	padding: .5em;
 	background: #F4F4F4;
 	color: black;
 	text-align:center;
 	font-weight: bolder;
 	font-size: 1.2em;
 	display: inline-block;
 	position: absolute;
 	width: 100px;
	margin-top: 0;
 }
 button#emailsend{
 	text-decoration:none;
 	border: 1px solid black;
 	border-radius: 15px;
 	padding: .5em;
 	background: #F4F4F4;
 	color: black;
 	text-align:center;
 	font-weight: bolder;
 	font-size: 1.2em;
 	display: inline-block;
 	position: absolute;
 	width: 5em;
	margin-top:0;
	left: 0;
	text-transform: uppercase;
 }
  #closemail {
	  
 	border: 1px solid black;
 	border-radius: 15px;
 	padding: .5em .75em .5em .5em;
 	background: #F4F4F4;
 	color: black;
 	text-align:center;
 	font-weight: bolder;
 	font-size: 1.2em;
 	display: inline-block;
 	position: absolute;
 	 
	right: 1em;
	text-transform: uppercase;
	width: 5em;
 }
	  
  
  
  
  
  
  
  
  
  
  
 a#emailsend:hover {
 	color: red;
 }
 #emailnotice {
 	font-size: 1em;
 	border-bottom: 5px solid red;
 	display: inline-block;
 	margin: 0 auto 1em auto;
  
 }
 
	 
 
 input[type="email"], input[type="text"] {
 	border: 2px solid red;
 	display: block;
 }
 #right a {
 	visibility: visible;
 	display: block;
 }
 textarea {
 	border: 2px solid red;
 	height: 170px;
 	width: 285px;
 	display: block;
 	margin: 0 auto;
 	position: relative;
 	margin-right: 5em;
 	margin-bottom: .75em;
 	 }

 #canvasbuttons {
 	float: right;
 	margin-right: 9em;
 	
 }
 #emaillink {
	  
 }
 #canvasbuttons button {
 	margin-left: 1em;
 	text-transform: uppercase;
 	font-size: 1.2em;
 	border-radius: 10px;
 	background: orange;
 	background: antiquewhite;
 }
#canvasbuttons button:nth-of-type(2){
	position: absolute;
	float: right;
}
 #canvascontent {
	text-transform: uppercase;
 }

 #animwriter select {
	height: 2em;
	border-radius: 10px;
	margin-left: .5em;
 }